 <style>
.c1{
top:1%;
right:1%;
position:absolute;
  }
  th {
  text-align: center;
  color:blue;
}
td {
  text-align: center;
  
}
</style>
<h2>Your Appointments</h2>
<table class="table">
  <tr>
    <th>Appointment Id</th>
    <th>Appointment Date</th>
    <th>Appointment status</th>
    <th>Patient</th>
    <th>Doctor</th>
  </tr>
  <tr *ngFor="let app of appointments">
  <td>{{app.appointmentId}}</td>
  <td>{{app.appointmentDate  | date: 'fullDate' }}</td>
  <td>{{app.status }}</td>
  <td>{{app.patient.pname}}</td>
  <td>{{app.doctor.dname}}</td>
</tr>
</table>
<div class="c1">
  <button class="btn btn-primary"(click)="logout()">Logout</button>
</div>
