<div align="center">
  <h2>Welcome To Care Connect</h2>
  <img src="careconnect.jpg"  width="500" height="250">
  <br/><br/>
  <button class="btn btn-primary"(click)="adminLogin()">Login as Admin</button>&nbsp;
  <button class="btn btn-primary"(click)="doctorLogin()">Login as Doctor</button>&nbsp;
  <button class="btn btn-primary"(click)="reporterLogin1()">Login as Reporter</button>&nbsp;
  <button class="btn btn-primary"(click)="register()">Register</button>&nbsp;
  <button class="btn btn-primary"(click)="patientLogin()">Login as Patient</button>
  </div>
